<h1>Home Page</h1>
<br>
<%= link_to "Sign Up", sign_up_path %><br><br>
<%= link_to "Login", login_path %><br><br>
<%= link_to "Account", account_path %><br><br>
<%= link_to "Home", root_path %><br><br>
<%= link_to "Articles Page", articles_path %><br><br>
<%= link_to "Cart Page", cart_path %><br><br>