<h1 class="text-center"> New User</h1>
<%= form_with model: @user, url: sign_up_path do |form| %>
    <%= render partial: "shared/form_errors", locals: { object: form.object } %>
    <div>
        <%= form.label :email %><br><br>
        <%= form.email_field :email, required: true %>
    </div>
    <br><br>
    <div>
        <%= form.label :password %><br><br>
        <%= form.password_field :password, required: true %>
    </div>
    <br><br>
    <div>
        <%= form.label :password_confirmation %><br><br>
        <%= form.password_field :password_confirmation, required: true %>
    </div>
    <br><br>
    <%= form.submit "Sign Up" %>
<% end %>